*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AvantGarde Bk BT';
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.container{
    width: 100%;
    min-height: 100vh;
    background: url(images/background.avif);
    background-size: cover;
    background-position: center;
}
nav{
    width: 100%;
    font-size: 20px;
    /* position: fixed; */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(172, 99, 35, 0.725); */
    background-color: #3398ac;
    border-left: 5px groove #256d7c;
    border-right: 5px groove #256d7c;
    border-top: 5px groove #256d7c;
    /* background-color: rgba(201, 197, 189, 0.5); */
}

.nav-middle{
    margin-left: 350px;
}

nav ul li{
    display: inline-block;
    padding: 10px 15px;
   
    
    
    
}
nav ul a{
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 10px;
    /* background-color: rgb(141, 91, 74); */
    /* border: 0.01px solid brown; */
    background-color: transparent;
    color: black;
    transition-duration: 0.5s;
}

nav ul a:hover{
    cursor: pointer;
    /* border-radius: 20px; */
    /* background-color: #93856E; */
    background-color: black;
    color: #fff;
}


.logo{
    filter: brightness(0.5);
}

.logo img{
    height: 92px;
    width: 92px;
}

.container #welcome{
    position: absolute;
    top: 35%;
    left: 3%;
    font-size: 3rem;
    /* color: rgb(67, 143, 143); */
    color: #3398ac;
    filter: drop-shadow(16px 16px 20px rgb(67, 143, 143));
}

.container #start{
    position: absolute;
    top: 58%;
    left: 3%;
    font-size: 3rem;
    background-color: #3398ac;
    background-color: #e151b4;
    background-color: rgb(175, 43, 153);
    padding: 7px 14px;
    text-decoration: none;
    color: rgba(156, 206, 215, 0.897);
    /* color: white; */
    border-top-left-radius: 20px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 25px;
    transition-duration: 0.5s;
}

.container #start:hover{
    /* background-color: #000000; */
    color: rgb(56, 56, 56);
}

.btns{
    margin-right: 5px;
}
.login-btn{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 15px 24px;
    transition-duration: 0.5s;
    margin-right: 7px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.login-btn:hover{
    background-color: #fff;
    color: #000;
    border-radius: 0;
}
.btns .btn{
    background-color: rgb(175, 43, 153);
    text-decoration: none;
    color: white;
    padding: 15px 24px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition-duration: 0.5s;

}
.btns .btn:hover{
    background-color: #fff;
    color: #000;
    border-radius: 0;

}
.middle-page{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/naassom-azevedo-Q_Sei-TqSlc-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.middle-page .content{
    width: 890px;
    background-image: linear-gradient(35deg, #d0dfd755, #df42423f);
    padding: 80px 90px;
}

.middle-page .content h1,.why-images,.why-text{
    display: block;
    justify-content: center;
    align-items: center;
    

}
.middle-page .content h1{
    color:  rgb(255, 255, 255);
}

.middle-page .why-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    color: rgb(255, 255, 255);
}

footer{
    height: 80vh;
    width: 100%;
    background-color: #0B2149;
}

.footer-up{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px 60px;
    margin-bottom: 40px;
    background-color: #e151b4;
    text-align: left;
}


.footer-links a{
    display: block;
    /* margin-right: 200px; */
    padding: 5px 8px;
}
.footer-links a:hover{
    text-decoration: underline;
}

.download-footer a{
    display: block;
}

.download-footer p{
    margin-left: 11px;
    margin-bottom: 12px;
}
.footer-icons-links a{
    display: block;
    padding: 5px 8px;
    background-color: #0B2149;
    transition-duration: 0.3s;

}

.footer-icons-links a:hover{
    background-color: #e151b3;
}

.mail{
    color: rgb(0, 0, 0);
}
.mail:hover{
    text-decoration: underline;
}
.additional-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 20px;
}

.additional-footer a:hover{
    text-decoration: underline;
}

        /* Basic styling for the footer */
        footer {
            background-color: #0B2149;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        /* Styling for the links in the footer */
        footer a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }